<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hss01248.viewholder">

    <application>
        <activity android:name="com.hss.utils.enhance.viewholder.ContainerActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            />
        <activity android:name="com.hss.utils.enhance.viewholder.ContainerActivity2"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            />
    </application>
</manifest>