<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hss01248.crash">
    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                tools:node="merge"
                android:name="com.hss01248.crash.CrashInit"
                android:value="androidx.startup" />
        </provider>
        <activity android:name=".ListFileActivity" />
        <activity android:name=".TextFileDisplayActivity" />
    </application>
</manifest>